# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @inferno-chromium @naveensrinivasan
*.md    @olivekl
docs/checks/internal/checks.yaml    @olivekl
