version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
      interval: "daily"
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/cron/bq"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
  open-pull-requests-limit: 10
- package-ecosystem: docker
  directory: "/cron/worker"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/cron/webhook"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
- package-ecosystem: docker
  directory: "/cron/controller"
  schedule:
    interval: daily
  commit-message:
      prefix: ":seedling:"
