# binary.
/scorecard
gitblobcache
clients/githubrepo/roundtripper/tokens/server/github-auth-server
cron/internal/data/add/add
cron/internal/data/validate/validate
cron/internal/data/update/projects-update
cron/internal/controller/controller
cron/internal/worker/scorecard/worker
cron/internal/cii/cii-worker
cron/internal/shuffle/shuffle
cron/internal/webhook/webhook
cron/internal/bq/data-transfer

# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test
results.json
*.json

# Output of the go coverage tool, specifically when used with LiteIDE.
*.coverprofile*
**/unit-coverage.out
e2e-coverage.out


# IDE directories.
.vscode/
*.iml
.idea

# tools
bin

cache
output
gitfolder.*
githubrepo.tar.gz

# goreleaser
dist/*
