# binary.
scorecard
gitblobcache
clients/githubrepo/roundtripper/tokens/server/github-auth-server
cron/data/add/add
cron/data/validate/validate
cron/data/update/projects-update
cron/controller/controller
cron/worker/worker
cron/cii/cii-worker
cron/webhook/webhook
cron/bq/data-transfer

# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test
results.json
*.json

# Output of the go coverage tool, specifically when used with LiteIDE.
*.coverprofile*


# IDE directories.
.vscode/
*.iml
.idea

# tools 
bin

cache
output
gitfolder.*
githubrepo.tar.gz
