# binary.
scorecard
gitblobcache
validate
scorecardcron



# Binaries for programs and plugins.
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`.
*.test
results.json

# Output of the go coverage tool, specifically when used with LiteIDE.
*.coverprofile*


# IDE directories.
.vscode/
*.iml
.idea

# tools 
bin

cache
output
gitfolder.*
