# Copyright 2021 Security Scorecard Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: build
on: [push, pull_request]
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
     - name: Install Protoc
       uses: arduino/setup-protoc@64c0c85d18e984422218383b81c52f8b077404d3 # v1.1.2
       with:
        version: 3.17.3
     - name: Clone the code
       uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
       with:
          fetch-depth: 0
     - name: Setup Go
       uses: actions/setup-go@331ce1d993939866bb63c32c6cbbfd48fa76fc57 # v2.1.3
       with:
         go-version: '^1.16'
     - name: Run presubmit tests
       run: |
            go env -w GOFLAGS=-mod=mod
            make all
  license-check:
    name: license boilerplate check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # v2.3.4
      - uses: actions/setup-go@331ce1d993939866bb63c32c6cbbfd48fa76fc57 # v2.1.3
        with:
          go-version: '1.16'
      - name: Check license headers
        run: |
          go env -w GOFLAGS=-mod=mod
          make all
          set -e
          addlicense -ignore "**/script-empty.sh" -ignore "pkg/testdata/*"  -l apache -c 'Security Scorecard Authors' -v *
          git diff --exit-code
