# Copyright 2021 Security Scorecard Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: publishimage

permissions: read-all

on:
  push:
    branches:
      - main
env:
  GO_VERSION: 1.17

jobs:
  unit-test:
    name: publishimage
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    env:
      COSIGN_EXPERIMENTAL: "true"
    steps:
     - name: Harden Runner
       uses: step-security/harden-runner@2e205a28d0e1da00c5f53b161f4067b052c61f34
       with:
         egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

     - name: Clone the code
       uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
       with:
          fetch-depth: 0
     - name: Setup Go
       uses: actions/setup-go@268d8c0ca0432bb2cf416faae41297df9d262d7f
       with:
         go-version: ${{ env.GO_VERSION }}
         check-latest: true
     - name: install ko
       uses: imjasonh/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa
     - name: publishimage
       uses: nick-invision/retry@3e91a01664abd3c5cd539100d10d33b9c5b68482
       with:
          max_attempts: 3
          retry_on: error
          timeout_minutes: 30
          command: |
            go env -w GOFLAGS=-mod=mod
            make install
            make scorecard-ko
     - name: Install Cosign
       uses: sigstore/cosign-installer@ced07f21fb1da67979f539bbc6304c16c0677e76
     - name: Sign image
       run: |
          cosign sign ghcr.io/${{github.repository_owner}}/scorecard/v4:${{ github.sha }}
