name: scdiff PR evaluation
on:
  issue_comment:
    types: [created, edited, deleted]

permissions: read-all

jobs:
  share-link:
    if: ${{ (github.event.issue.pull_request) && (contains(github.event.comment.body, '/scdiff generate')) }}
    runs-on: [ubuntu-latest]
    permissions:
      pull-requests: write # to create the PR comment
    steps:
      - name: share link to workflow run
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `[Here's a link to the scdiff run](https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId})`
            })

  golden-test:
    if: ${{ (github.event.issue.pull_request) && (contains(github.event.comment.body, '/scdiff generate')) }}
    runs-on: [ubuntu-latest]
    steps:
      - name: repos to run anlaysis on
        run: |
          echo github.com/ossf/scorecard-action >> $HOME/repos.txt
          echo github.com/ossf/scorecard-webapp >> $HOME/repos.txt
      - name: fetch base and head shas
        id: pr-refs
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6.4.1
        with:
          script: |
            const response = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
            })
            core.setOutput('base', response.data.base.sha)
            core.setOutput('head', response.data.head.sha)

            checks = '""'
            const commentBody = '${{ github.event.comment.body }}'
            const regex = /\/scdiff generate ([^ ]+)/;
            const found = commentBody.match(regex);
            if (found && found.length == 2) {
              checks = found[1]
            }
            core.setOutput('checks', checks)
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          ref: ${{ steps.pr-refs.outputs.base }}
      - name: generate before results
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          go run cmd/internal/scdiff/main.go generate \
            --repos $HOME/repos.txt \
            --checks ${{ steps.pr-refs.outputs.checks }} > $HOME/before.json
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          ref: ${{ steps.pr-refs.outputs.head }}
      - name: generate after results
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          go run cmd/internal/scdiff/main.go generate \
            --repos $HOME/repos.txt \
            --checks ${{ steps.pr-refs.outputs.checks }} > $HOME/after.json
      - name: compare results
        run: |
          go run cmd/internal/scdiff/main.go compare $HOME/before.json $HOME/after.json
